.video-player {
  background-color: #000000;
  height: 100%;
  width: 100%;
}

// video::-webkit-media-controls {
//   display: none !important;
// }

.video-close-btn {
  position: absolute;
  right: 0.3125rem;
  top: 0;
}
