video {
  min-height: 300px;
  height: auto;
  width: 100%;
}

// video::-webkit-media-controls {
//   display: none !important;
// }

.video-close-btn {
  position: absolute;
  right: 0.3125rem;
  top: 0;
}
