.container {
    min-height: 100%;
    max-width: 80vw;
    margin: 0 auto;
    padding-bottom: 100px;
  }
  
.thread-card {
    width: 300px;
    min-height: 300px;
    margin: 15px;
}

.fullSize {
    max-width: 40vw;
    max-height: 40vw;
}
