<div *ngIf="!(threads$ | async)"
     style="min-height: 75vh;"
     fxLayout="column"
     fxLayoutAlign="center center"
     fxLayoutGap="5px">
  <mat-spinner>
  </mat-spinner>
</div>
<div class="container">
  <div *ngFor="let thread of threads$ | async">
    <mat-card class="thread-card">
      <mat-card-header>
        <mat-card-title>{{ thread.num }}</mat-card-title>
        <mat-card-subtitle>Файлов: ({{thread.files_count}})</mat-card-subtitle>
      </mat-card-header>

      <div>
        <img [satPopoverAnchorFor]="fullSize"
             (click)="fullSize.toggle()"
             [src]="getThreadThumbnail(thread)"
             alt="thread img">
        <sat-popover #fullSize
                     horizontalAlign="after"
                     verticalAlign="center">
          <img class="fullSize"
               [src]=getThreadImage(thread)>
        </sat-popover>
      </div>

      <mat-card-content style="padding-top: 15px;">
        <p [innerHTML]="thread.subject">
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button
                routerLink="thread"
                [queryParams]="{ thread_num: thread.num }">Перейти</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>