.board-toolbar {
  overflow: hidden;
}

.container {
  min-width: 18.75rem;
  height: 80vh;
}

.thread-card > .mat-card-actions {
  text-align: center;
}

.grid-container {
  display: grid;
  width: 100%;
  height: 100%;

  grid-gap: 0.3125rem;
  grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
  grid-auto-rows: minmax(25rem, auto);

  overflow-y: auto;
}

.nav-toolbar {
  height: 5.375rem;
}

.mat-card {
  width: calc(100% - 3.125rem);
  height: calc(100% - 3.125rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.mat-card-content {
  display: flex;
  flex: 1;
}

.thread-description {
  padding-top: 0.9375rem;
  width: 100%;
  text-overflow: ellipsis;
  word-break: break-word;
  hyphens: auto;
}

.thread-thumb {
    width: auto;
    height: 12.5rem;
}

.thread-thumb:hover {
  cursor: pointer;
}

@supports (display: grid) {
    .container > * {
      margin: 0;
    }
  }