<div
  *ngIf="!(threads$ | async)"
  style="min-height: 75vh;"
  fxLayout="column"
  fxLayoutAlign="center center"
  fxLayoutGap="5px"
>
  <mat-spinner> </mat-spinner>
</div>
<div class="thread-list-container">
  <div class="grid-container">
    <div *ngFor="let thread of threads$ | async; trackBy: trackByThreadId">
      <mat-card class="thread-card">
        <mat-card-header>
          <mat-card-title>{{ thread.num }}</mat-card-title>
          <mat-card-subtitle
            >Файлов: ({{ thread.files_count }})</mat-card-subtitle
          >
        </mat-card-header>

        <img
          class="thread-thumb"
          [routerLink]="thread.num"
          [src]="getThreadThumbnail(thread)"
          alt="thread img"
        />
        <mat-card-content>
          <p class="thread-description" [innerHTML]="thread.subject"></p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
