<div class="container">
  <button mat-raised-button
          (click)="currentVideo$.next(videos[0])">Play All</button>
  <button mat-button
          (click)="goBack()">Назад</button>
  <mat-list *ngFor="let post of posts">
    <h3 mat-subheader>{{post.num}}</h3>
    <p class="mat-body-1"
       [innerHTML]="post.comment.trim().slice(0, 150)"></p>
    <mat-list-item *ngFor="let file of post.files">
      <img mat-list-icon
           [src]="'https://2ch.hk' + file.thumbnail">
      <h4 mat-line>{{ file.name }}</h4>
      <p mat-line> {{ file.duration }} {{ file.size }} KB </p>
      <button mat-button
              (click)="currentVideo$.next(file)">Play</button>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
</div>

<video [hidden]="!showVideo"
       #videoContainer
       (mousewheel)="onMousewheel($event)"
       (keypress)="onVideoKeyPress($event)"
       (click)="onVideoClick()"
       id="video">
</video>