#video {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav-toolbar {
  height: 5.375rem;
}

.mat-list-icon {
  width: 5em !important;
  height: 5em !important;
  border-radius: 0 !important;
}

.container {
  min-width: 18.75rem;
  height: 80vh;
}

.webm-list-container {
  display: grid;
  width: 100%;
  height: 100%;

  grid-gap: 1.25rem;
  grid-template-columns: repeat(auto-fit, minmax(13.75rem, 1fr));

  align-items: center;
  text-align: center;

  overflow-y: auto;
}

.webm-list-container div {
  max-width: 100%;
}

.webm-container {
  width: 100%;
  height: 100%;
}

.webm-preview {
  height: 16vh;
  background-position: center;
  position: relative;
}

.webm-preview:hover .play-button {
  opacity: 1;
  transition: all 0.3s linear;
  visibility: visible;
}

.play-button {
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s linear;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
}

.play-button:hover {
  opacity: 1;
  visibility: visible;
}

.webm-preview:hover {
  cursor: pointer;
}

.timeline {
  position: absolute;
  right: 0.3125rem;
  bottom: 0;
  color: #fff;
  text-shadow: 0.0625rem 0.0625rem 0.125rem black, 0 0 1rem black;
}

.webm-container {
  padding: 1.25rem;
}

.videoIcon {
  padding: 0 0.875rem;
}
