<div class="router-container">
  <div class="webm-list-container">
    <div
      class="webm-preview mat-elevation-z4"
      [style.background-image]="getThreadThumbnail(file)"
      *ngFor="let file of videos$ | async"
    >
      <button
        #playButton
        class="play-button"
        mat-icon-button
        (click)="onPlayClick(file)"
      >
        <fa-icon [icon]="faPlay" size="lg"></fa-icon>
      </button>
      <span class="timeline mat-caption">{{ file.duration }}</span>
    </div>
  </div>
</div>
