<div class="container-fluid">
  <mat-toolbar>
    <mat-toolbar-row>
      <button mat-raised-button
              (click)="onPlayAllClick()">Play All</button>
      <span class="spacer"></span>
      <span class="videoIcon">
        <fa-icon [icon]="faVideo"></fa-icon> {{ videos.length || 0 }}
      </span>
      <button mat-button
              (click)="renew()">Обновить</button>
      <button mat-button
              (click)="goBack()">Назад</button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="container-fluid webm-list-container">
    <mat-grid-list cols="3"
                   gutterSize="5px"
                   rowHeight="2:1">
      <mat-grid-tile *ngFor="let file of videos">
        <div class="webm-container">
          <img class="webm-preview"
               [src]="'https://2ch.hk' + file.thumbnail">
          <button class="play-button"
                  mat-icon-button
                  (click)="onPlayClick(file)">
            <fa-icon [icon]="faPlay"></fa-icon>
          </button>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

</div>