#video {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
}

.video-container {
    max-width: 50vw;
    max-height: 50vh;
}

.mat-list-icon {
    width: 5em !important; 
    height: 5em !important;
    border-radius: 0 !important;
}

.container {
  margin: 10px 0px 0px 10px;
  min-width: 300px;
  height: 77vh;
}

.webm-list-container {
    display: grid;
    width: 100%;
    height: 100%;

    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));

    align-items: center;
    text-align: center;

    overflow-y: auto;
}

.webm-list-container div {
    max-width: 100%;
}

.webm-list-container img {
    object-fit: fill;
}

.webm-container {
    width: 100%;
    height: 100%;
}

.webm-preview {
    height: 16vh;
    background-position: center;
    position: relative;
}

.webm-preview:hover .play-button {
    opacity: 1;
    transition: all 0.3s linear;
    visibility: visible;
}

.play-button {
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s linear;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
}

.play-button:hover {
    opacity: 1;
    visibility: visible;
}

.webm-preview:hover {
    cursor: pointer;
}

.timeline {
    position: absolute;
    right: 5px;
    bottom: 0;
    color: #fff;
    text-shadow: 1px 1px 2px black, 0 0 1em black;
}

.webm-container {
    padding: 20px;
}

.videoIcon {
    padding: 0 14px;
}