.mat-card {
  min-width: 15.625rem;
  height: 18.25rem;
  margin: 0.625rem;
}

.board-container {
  max-width: 50vw;
  max-height: 50vw;
}

.board-list-container {
  display: grid;

  width: 100%;
  height: 100%;

  grid-gap: 0.125rem;

  grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));

  align-items: center;
  text-align: center;

  overflow-y: auto;
}

.board-wrapper {
  min-width: 18.25rem;
  height: 92%;
  padding-top: 4.1875rem;
}

.mat-list-icon {
  color: rgba(0, 0, 0, 0.54);
}

.mat-list-item {
  text-align: left;
}

.upper-toolbar {
  position: fixed;
  height: 4rem;
}
