.track-progress {
  width: 100%;
  .mat-slider-thumb {
    color: red !important;
    opacity: 0 !important;
  }
  &:hover {
    .mat-slider-thumb {
      opacity: 1 !important;
    }
  }
}

mat-slider {
  padding: 0;
}
