@import "~variables";

.player-control {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0;
  height: $playerControlsPanelHeight;
  overflow: hidden;
}

.video-thumbnail {
  height: 2.5rem;
  border-radius: 2px;
}

.thumbnail-wrapper {
  width: 4.5rem;
  height: 4.5rem;
  padding: 0.625rem;
}

.thumbnail-wrapper > img {
  width: 100%;
  height: 100%;
}

.track-label {
  margin-top: 0.625rem;
  font-size: 1em;
}

.progress-wrapper {
  $progressDefaultHeight: 24px;
  position: fixed;
  bottom: calc(#{$playerControlsPanelHeight} - #{$progressDefaultHeight});
  left: -8px;
  right: 0;
  z-index: 2;
}

.progress-wrapper .mat-slider-wrapper {
  left: 0;
  right: 0;
}

.time-label {
  display: inline-block;
  font-size: 0.75rem;
  line-height: 0.75rem;
}

.volume-wrapper {
  display: inline-block;
}
