<mat-toolbar
  class="player-control"
  fxLayout="row"
  fxLayoutAlign="space-around center"
  fxLayoutGap="10px"
>
  <div class="progress-wrapper">
    <app-track-progress
      [hidden]="!(currentTrack$ | async)"
      [currentProgress]="currentTime$ | async"
      (progressChange)="onTimeSelect($event)"
      [progressLength]="currentTrackLength$ | async"
    >
    </app-track-progress>
  </div>

  <!-- Left Panel -->
  <div fxFlex="18" fxLayoutGap="10px">
    <!-- Play -->
    <button
      mat-icon-button
      [disabled]="!(currentTrack$ | async)"
      (click)="play()"
      [color]="(currentTrack$ | async) && 'warn'"
    >
      <fa-icon
        [icon]="(isPlaying$ | async) ? faPause : faPlay"
        size="lg"
      ></fa-icon>
    </button>
    <!--./Play -->
    <!--./Stop -->
    <button
      *ngIf="false"
      mat-icon-button
      [disabled]="!(currentTrack$ | async)"
      (click)="stop()"
    >
      <fa-icon [icon]="faStop" size="lg"></fa-icon>
    </button>
    <!--./Stop -->
    <!-- Prev Track -->
    <button
      mat-icon-button
      [disabled]="!(currentTrack$ | async)"
      (click)="playPrev()"
    >
      <fa-icon [icon]="faStepBack" size="lg"></fa-icon>
    </button>
    <!--./Prev Track -->
    <!-- Next Track -->
    <button
      mat-icon-button
      [disabled]="!(currentTrack$ | async)"
      (click)="playNext()"
    >
      <fa-icon [icon]="faStepForw" size="lg"></fa-icon>
    </button>
    <!--./Next Track -->
    <!-- Time Label -->
    <div class="time-label" [hidden]="!(currentTrack$ | async)">
      <span class="time-container-current">{{
        currentTime$ | async | minuteSeconds
      }}</span>
      /
      <span class="time-container-current">{{
        currentTrackLength$ | async | minuteSeconds
      }}</span>
    </div>
    <!--./Time Label -->
  </div>
  <!--./Left Panel -->

  <!-- Middle Panel -->
  <div
    class="middle-panel"
    fxFlex="34"
    fxLayout="row"
    fxLayoutAlign="center center"
    fxLayoutGap="10px"
  >
    <img
      *ngIf="currentTrack$ | async as track"
      class="video-thumbnail"
      [src]="getTrackThumb(track)"
    />
    <div fxFlex [matTooltip]="(currentTrack$ | async)?.fullname">
      {{ (currentTrack$ | async)?.displayname }}
    </div>
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      [disabled]="!(currentTrack$ | async)"
    >
      <fa-icon [icon]="faDots"></fa-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="copyUrlClick(track)">
        <fa-icon class="menu-icon" fixedWidth="true" [icon]="faLink"></fa-icon>
        <span>Скопировать ссылку</span>
      </button>

      <ng-container *ngIf="isNative">
        <button mat-menu-item (click)="saveVideo()">
          <fa-icon
            class="menu-icon"
            fixedWidth="true"
            [icon]="faSave"
          ></fa-icon>
          <span>Сохранить ЦУИЬ</span>
        </button>
      </ng-container>
    </mat-menu>
  </div>
  <!--./Middle Panel -->

  <!-- Right Panel -->
  <div fxFlex="18" fxLayoutGap="10px" fxLayoutAlign="flex-end center">
    <!-- Shuffle. todo: Disabled. Need rework. -->
    <button
      *ngIf="false"
      mat-icon-button
      [disabled]="!currentTrack$ | async"
      (click)="toggleShuffle()"
    >
      <fa-icon [icon]="faRandom" size="lg"></fa-icon>
    </button>
    <!--./Shuffle -->

    <!-- Volume -->
    <div class="volume-wrapper">
      <app-volume-slider></app-volume-slider>
    </div>
    <!--./Volume -->

    <!-- Fullscreen -->
    <button
      mat-icon-button
      [disabled]="!currentTrack$ | async"
      (click)="toggleFullscreen()"
    >
      <fa-icon [icon]="faFullscreen" size="lg"></fa-icon>
    </button>
    <!--./Fullscreen -->
  </div>
  <!--./Right Panel -->
</mat-toolbar>
