.player-control {
    position: fixed;
    bottom: 0;
    left: 0;

    height: 86px;

    padding: 0;
}

.thumbnail-wrapper {
    position: relative;
    float: left;
    border: 0;
    padding: 0;
    margin: 0 10px 0 0;
    height: 90px;
    width: 90px;
    top: -2px;
    background-color: #3f51b5;
}

.thumbnail-wrapper > img {
    width: 100%;
    height: 100%;
}

.player-left {
    /* height: 86px; */
    margin-top: 4px;
    min-width: 0px;
}

.player-middle {
    display: flex;
    align-items: center;
    height: 86px;
}

.player-right {
    height: 86px;
    margin: 4px 15px 0 0;
    min-width: 0px;
}

.track-label {
    font-size: 16px;
}

.progress-wrapper {
    position: absolute;
    top: -24px;
    left: 92px;
    right: -18px;
    z-index: 1;
}

.time-label {
    font-size: 12px;
}