<div class="volume-wrapper"
     fxLayout="row"
     fxLayoutAlign="space-between center"
     fxLayoutGap="15px">

    <fa-icon fxFlex="10"
             class="volume-min"
             [icon]="faVolumeMin"></fa-icon>

    <div fxFlex="80"
         class="volume-slider">
        <mat-slider min="0"
                    (change)="onVolumeChange($event)"
                    color="accent"
                    max="100"
                    step="1"
                    value="100"></mat-slider>
    </div>

    <fa-icon fxFlex="10"
             class="volume-high"
             [icon]="faVolumeMax"></fa-icon>

</div>