.volume-wrapper:hover .volume-slider,
.volume-wrapper:hover .volume-min,
.volume-min:hover,
.volume-slider:hover {
    opacity: 1;
}

.volume-wrapper {
    min-width: 250px;
}

.volume-min, .volume-high {
    text-align: center;
}

.volume-min,
.volume-slider {
    opacity: 0;
    transition: opacity 0.25s ease-in;
}

mat-slider {
    width: 100%;
}